<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dmtq_gtm" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Google Tag Manager</label>
            <tab>dmtq</tab>
            <resource>DMTQ_GoogleTagManager::config</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="container_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                    <label>Web Container Id</label>
                    <depends>
                        <field id="dmtq_gtm/general/active">1</field>
                    </depends>
                    <comment><![CDATA[Insert web GTM script</br>
                    Enter the WEB Google Tag Manager ID, should be formatted as "GTM-XXXXXX".]]></comment>
                </field>
            </group>
            <group id="datalayer" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Data Layer</label>
                <field id="ecom" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Add ecommerce Data Layer events</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="userdata" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Add user data to Data Layer events</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
